@import url('https://fonts.googleapis.com/css2? family= Kalam:wght@300;400;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 174, 52);
}
header{
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
#containerHeader{
    display: flex;
    width: 95%;
    height: 10vmin;
    margin: 20px auto;
    text-align: center;
    align-items:center;
    justify-content: space-between;
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
}
.boxMenu{
    display: flex;
    width: 25%;
    align-items: center;
    height: 21px;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
}
hr{
    display: flex;
    width: 3vmax;
    height: 3px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

h1{
    display: flex;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmax;
    font-family: 'Kalam', cursive;
    background-color: transparent;
}
.boxImgheader{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.imgHeader{
    width: 2.5vmax;
}

/*Main*/

main{
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#containerProduct{
    display: flex;
    width: 95%;
    height: 90vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: initial;
    background-color: transparent;
}


.boximgFlavo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.imgFlavo{
    width: 80vmin;
}


.boxproductPrice{
    display: flex;
    width: 75%;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.nameProduct{
    display: flex;
    width: 60%;
    text-align: center;
    justify-content: flex-start;
    font-size: 4.5vmax;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    background-color: transparent;
}
.priceProduct{
    display: flex;
    width: 20%;
    text-align: center;
    justify-content: flex-end;
    font-size: 4vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    background-color: transparent;
}


.boxIngredients{
    display: flex;
    width: 100%;
    height: 7vh;
    flex-direction: column;
    text-align: center;
    align-items: center;justify-content: center;
}
.titleIngredients{
    display: flex;
    width: 75%;
    text-align: start;
    align-items: center;
    font-size: 3.5vmax;
}
.paragrafIngredients{
    display: flex;
    width: 75%;
    text-align:start;
    align-items: center;
    font-size: 2.5vmax;
}


.boxDescription{
    display: flex;
    width: 100%;
    height: 20vh;
    flex-direction: column;
    text-align: center;
    align-items: center;justify-content: center;
}
.titleDescription{
    display: flex;
    width: 75%;
    text-align: start;
    align-items: center;
    font-size: 3.5vmax;
}
.paragrafDescription{
    display: flex;
    width: 75%;
    text-align:start;
    align-items: center;
    font-size: 2.5vmax;
}

/*footer*/

footer{
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}


#containerInputs{
    display: flex;
    width: 95%;
    height: 25vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: initial;
    background-color: transparent;
}

.boxInputs{
    display: flex;
    width: 90%;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}
.firstRadiobag{
    display: flex;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content:flex-start;
    background-color: transparent;
}
.titleBag{
    font-size: 2.5vmax;
    text-transform: uppercase;
}

.secondRadiojar{
    display: flex;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content:flex-start;
    background-color: transparent;
}
.titleJar{
    font-size: 2.5vmax;
    text-transform: uppercase;
}

.boxButtons{
    display: flex;
    width: 100%;
    height: 20vh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.buttonOne{
    display: flex;
    width: 100%;
    height: 5vh;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    justify-content: center;
}
.buttonAmount{
    display: flex;
    width: 75%;
    height: 5vh;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    justify-content: center;
}

.buttonTwo{
    display: flex;
    width: 100%;
    height: 5vh;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    justify-content: center;
}
.buttonAddcart{
    display: flex;
    width: 75%;
    height: 5vh;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    justify-content: center;
}